@charset "UTF-8";

body {
    background-color: lightgoldenrodyellow;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
 }
 h1 {
    color: burlywood;
    background-color: goldenrod;
 }
 h2 {
    color: rgb(255, 0, 13);
 }
 p {
    text-align: justify;
 }